<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--定义类型别名-->
        <aliases>
            <add alias="IClass" type="UnityFrameworkConsole1.IClass,UnityFrameworkConsole1" />
            <add alias="CbClass" type="UnityFrameworkConsole1.CbClass,UnityFrameworkConsole1" />
            <add alias="EcClass" type="UnityFrameworkConsole1.EcClass,UnityFrameworkConsole1" />
        </aliases>
    <!--容器-->
        <container name="FirstClass">
            <!--映射关系-->
            <register type="IClass"  mapTo="CbClass"></register>
            <register type="IClass"  mapTo="EcClass" name="ec"></register>
        </container>
    </unity>
</configuration>